<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"backgroundColor":"custom-grey","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-custom-grey-background-color has-background"><!-- wp:group {"style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50","top":"var:preset|spacing|50","bottom":"var:preset|spacing|50"}},"dimensions":{"minHeight":"75vh"}},"backgroundColor":"custom-white","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-custom-white-background-color has-background" style="min-height:75vh;margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)"><!-- wp:heading -->
<h2 class="wp-block-heading"><strong>Contact</strong></h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"style":{"spacing":{"margin":{"top":"var:preset|spacing|30"}}}} -->
<p style="margin-top:var(--wp--preset--spacing--30)">Fill out the form below, and I’ll get back to you as soon as possible. If you’re looking for a more timely response.</p>
<!-- /wp:paragraph -->

<!-- wp:create-block/larris-form {"labelFontSize":"1rem","inputPadding":"5px","style":{"spacing":{"padding":{"right":"0","left":"0"}}}} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->