<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"}}},"backgroundColor":"custom-grey","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-custom-grey-background-color has-background" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:group {"style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50","top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"}},"dimensions":{"minHeight":"75vh"}},"backgroundColor":"custom-white","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-custom-white-background-color has-background" style="min-height:75vh;margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--60);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--60);padding-left:var(--wp--preset--spacing--50)"><!-- wp:heading -->
<h2 class="wp-block-heading"><strong>About</strong></h2>
<!-- /wp:heading -->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|30"},"blockGap":"var:preset|spacing|20"}},"fontSize":"medium","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-medium-font-size" style="margin-top:var(--wp--preset--spacing--30)"><!-- wp:paragraph {"className":""} -->
<p>Hi there, my name is Ardian.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"className":""} -->
<p>I’m a WordPress theme and plugin developer based in Jakarta, Indonesia, where I live with my wife and beloved daughter.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"className":""} -->
<p>This website is a personal space where I share my web development journey. Here, you’ll find my latest projects, code snippets, tutorials, and insights — with a strong focus on WordPress plugin and block development.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"className":""} -->
<p>I’m especially passionate about extending WordPress using the Gutenberg block editor. I believe the advent of blocks has made it significantly easier for developers to build custom, dynamic experiences in WordPress — allowing for more flexibility and a better user experience.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"className":""} -->
<p>If you’re interested in the WordPress plugins I’m working on, check out the Projects page. One of my current works is a custom block called <strong>Larris GitHub Showcase</strong>, designed to help WordPress users present GitHub content more effectively. It’s part of my broader mission to create tools that meet real user needs and make working with WordPress even more enjoyable.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph {"className":""} -->
<p>Thanks for stopping by!</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->